
.pax { padding: 28px;  }
.max { margin: 28px;  }
.pvx { padding-top: 28px;  padding-bottom: 28px; }
.mvx { margin-top: 28px;  margin-bottom: 28px; }
.phx { padding-left: 28px;  padding-right: 28px; }
.mhx { margin-left: 28px;  margin-right: 28px; }
.ptx { padding-top: 28px;  }
.mtx { margin-top: 28px;  }
.pbx { padding-bottom: 28px;  }
.mbx { margin-bottom: 28px;  }
.plx { padding-left: 28px;  }
.mlx { margin-left: 28px;  }
.prx { padding-right: 28px;  }
.mrx { margin-right: 28px;  }
.pal { padding: 18px;  }
.mal { margin: 18px;  }
.pvl { padding-top: 18px;  padding-bottom: 18px; }
.mvl { margin-top: 18px;  margin-bottom: 18px; }
.phl { padding-left: 18px;  padding-right: 18px; }
.mhl { margin-left: 18px;  margin-right: 18px; }
.ptl { padding-top: 18px;  }
.mtl { margin-top: 18px;  }
.pbl { padding-bottom: 18px;  }
.mbl { margin-bottom: 18px;  }
.pll { padding-left: 18px;  }
.mll { margin-left: 18px;  }
.prl { padding-right: 18px;  }
.mrl { margin-right: 18px;  }
.pam { padding: 14px;  }
.mam { margin: 14px;  }
.pvm { padding-top: 14px;  padding-bottom: 14px; }
.mvm { margin-top: 14px;  margin-bottom: 14px; }
.phm { padding-left: 14px;  padding-right: 14px; }
.mhm { margin-left: 14px;  margin-right: 14px; }
.ptm { padding-top: 14px;  }
.mtm { margin-top: 14px;  }
.pbm { padding-bottom: 14px;  }
.mbm { margin-bottom: 14px;  }
.plm { padding-left: 14px;  }
.mlm { margin-left: 14px;  }
.prm { padding-right: 14px;  }
.mrm { margin-right: 14px;  }
.pas { padding: 8px;  }
.mas { margin: 8px;  }
.pvs { padding-top: 8px;  padding-bottom: 8px; }
.mvs { margin-top: 8px;  margin-bottom: 8px; }
.phs { padding-left: 8px;  padding-right: 8px; }
.mhs { margin-left: 8px;  margin-right: 8px; }
.pts { padding-top: 8px;  }
.mts { margin-top: 8px;  }
.pbs { padding-bottom: 8px;  }
.mbs { margin-bottom: 8px;  }
.pls { padding-left: 8px;  }
.mls { margin-left: 8px;  }
.prs { padding-right: 8px;  }
.mrs { margin-right: 8px;  }
.paxs { padding: 7px;  }
.maxs { margin: 7px;  }
.pvxs { padding-top: 7px;  padding-bottom: 7px; }
.mvxs { margin-top: 7px;  margin-bottom: 7px; }
.phxs { padding-left: 7px;  padding-right: 7px; }
.mhxs { margin-left: 7px;  margin-right: 7px; }
.ptxs { padding-top: 7px;  }
.mtxs { margin-top: 7px;  }
.pbxs { padding-bottom: 7px;  }
.mbxs { margin-bottom: 7px;  }
.plxs { padding-left: 7px;  }
.mlxs { margin-left: 7px;  }
.prxs { padding-right: 7px;  }
.mrxs { margin-right: 7px;  }
.paxxs { padding: 3px;  }
.maxxs { margin: 3px;  }
.pvxxs { padding-top: 3px;  padding-bottom: 3px; }
.mvxxs { margin-top: 3px;  margin-bottom: 3px; }
.phxxs { padding-left: 3px;  padding-right: 3px; }
.mhxxs { margin-left: 3px;  margin-right: 3px; }
.ptxxs { padding-top: 3px;  }
.mtxxs { margin-top: 3px;  }
.pbxxs { padding-bottom: 3px;  }
.mbxxs { margin-bottom: 3px;  }
.plxxs { padding-left: 3px;  }
.mlxxs { margin-left: 3px;  }
.prxxs { padding-right: 3px;  }
.mrxxs { margin-right: 3px;  }
.pan { padding: 0px;  }
.man { margin: 0px;  }
.pvn { padding-top: 0px;  padding-bottom: 0px; }
.mvn { margin-top: 0px;  margin-bottom: 0px; }
.phn { padding-left: 0px;  padding-right: 0px; }
.mhn { margin-left: 0px;  margin-right: 0px; }
.ptn { padding-top: 0px;  }
.mtn { margin-top: 0px;  }
.pbn { padding-bottom: 0px;  }
.mbn { margin-bottom: 0px;  }
.pln { padding-left: 0px;  }
.mln { margin-left: 0px;  }
.prn { padding-right: 0px;  }
.mrn { margin-right: 0px;  }