<html>
<head>
<title>Documentation</title>
</head>
<body>
{{#each properties}}
{{#if_eq this.category 'font-color'}}<div style="color: {{value}}">{{#auraVar}}{{name}}{{/auraVar}}</div>{{/if_eq}}
{{#if_eq this.category 'misc'}}{{name}}: {{value}}{{/if_eq}}
{{/each}}
</body>
</html>